main {
  justify-content:center;
  background: whitesmoke;
  padding: 10px;
}

.content {
  width: 1000px;
  flex-direction: column;
  padding: 15px;
}

.posts-item {
  background: white;
  margin: 20px;
  flex-direction:row;
}

.text {
  padding:10px;
}

h1 {
margin: 0 0 0 0px;
}

img {
  padding: 0;
  }
