.page {
    margin: 48px;

    &__thumbnail {
        margin: 0 -48px;
        display: block;
        width: calc(100% + #{2 * 48px});
        height: 256px;
        object-fit: cover;
    }

    &__content {
        margin: 48px auto 0;
        max-width: 640px;

        *:first-child {
            margin-top: 0;
        }

        img {
            width: 100%;
        }
    }
}