.wrap {
    margin: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    justify-content: center;
    column-gap: 24px;
    row-gap: 24px;
}

@media screen and (max-width: 426px) {
    .wrap {
        margin: 24px;
        grid-template-columns: repeat(auto-fill, 128px);
    }
}

@media screen and (max-width: 332px) {
    .wrap {
        margin: 24px;
        grid-template-columns: repeat(auto-fill, 256px);
    }
}
