{% macro menu_content(section) %}
    {% for current in section.subsections %}
        {% set current = get_section(path=current) %} 
        <a class="nav-item subtext" href="{{ current.permalink }}">{{ current.title }}</a>
    {% endfor %}
    {% for page in section.pages %}
        <a class="nav-item subtext" href="{{ page.permalink }}">{{ page.title }}</a>
    {% endfor %}
    {% if config.extra.juice_extra_menu %}
        {% for menu in config.extra.juice_extra_menu %}
            <a class="nav-item subtext" href="{{ menu.link }}">{{ menu.title }}</a>
        {% endfor %}
    {% endif %}
{% endmacro menu_content %}

{% macro render_header() %}
{% set section = get_section(path="_index.md") %}
<a href="{{ section.permalink }}">
    <div class="logo">
        <img src="{{ get_url(path=config.extra.juice.logo_path) }}" alt="logo">
        {{ config.extra.juice.logo_name }}
    </div>
</a>

<nav class="text-center">
{{ macros::menu_content(section=section) }}
</nav>
{% endmacro render_header %}

{% macro bottom_menu() %}
{% set section = get_section(path="_index.md") %}
    <div class="subtext">
        <p>
{{ macros::menu_content(section=section) }}
        </p>
    </div>
{% endmacro bottom_menu %}

{% macro footer() %}
    {% if config.extra.sam_footer %}
        <div class="subtext">
            {{ config.extra.sam_footer.text | safe }}
        </div>
    {% endif %}
{% endmacro footer %}

{# put it into the <head> section #} 
{% macro leaflet_head() %}
    <script src="{{ config.base_url }}/js/leaflet/v1.7.1/leaflet.js"></script>
    <link rel="stylesheet" href="{{ config.base_url }}/js/leaflet/v1.7.1/leaflet.css" />
    <style>
      html, body {
        height: 100%;
        padding: 0;
        margin: 0;
      }
      #map {
        /* configure the size of the map */
        width: 100%;
        height: 20%;
        }
/* The following css part toggles fullscreen map */
     .mapclick {
        width: 100%;
        height: 100%;
        position: absolute; 
        z-index: 1000; 
        bottom: 0px; 
        }
      .mapbutton {
        position: absolute; 
        z-index: 1000; 
        bottom: 0px;
        left: 50%;
        display: none;
        background: #fcfaf6c3;
        }
     #map:target {
        height: 100%;
        }
     #map:target .mapbutton {
       display: block;
       }
     #map:target .mapclick {
       display: none;
       }
    </style>
{% endmacro leaflet_head %}

{# put it into the <body> section #}
{% macro leaflet_map() %}
    <div id="map">
    <script>
      // initialize Leaflet
      var map = L.map('map').setView({lat: 51.34, lon: 12.37}, 13);

      // openstreetmap tiles: 
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        minZoom: 12,
        maxZoom: 19,
        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
      }).addTo(map);

      // show the scale bar on the lower left corner
      L.control.scale().addTo(map);

      // for each bike, define markers on the map
      {% set bikes = get_section(path="lastenrad/_index.md") %}
      {% for rad in bikes.pages %}
        var {{ rad.title }} = 
          L.circleMarker(
            [{{ rad.extra.lat }},{{ rad.extra.lon }}],
            {color: 'magenta', fillColor: 'magenta'})
            .bindPopup(
               "<a href='{{ rad.path | urlencode_strict }}'>{{ rad.title }}</a><br><img src='{{ rad.path }}/image.jpg' width=120px>")
            .addTo(map);
      {% endfor %}
    </script>
    <a href="#map" class="mapclick text" onclick="setTimeout(function(){map.invalidateSize();}, 10)"></a>
    <a href="" class="mapbutton text button">Karte schließen!</a>
    </div>
{% endmacro leaflet_map %}
