{% extends "page.html" %}
{% block title %}{{ section.title }}{% endblock title %}
{% block head %}
    <style>
        @media screen and (prefers-color-scheme: dark) {
            :root {
            }
        }
    </style>
    <link rel="stylesheet" href="{{ config.base_url }}/aviator.css">
    {{ macros::leaflet_head() }}
{% endblock head %}
{% block toc %}{% endblock toc %}
{% block header%}
  <header class="box-shadow">
      {{ macros::render_header() }}
  </header>
    {{ macros::leaflet_map() }}
{% endblock header%}

{% block main %}
 <style>
  main {
   display: block;
   padding: 30px 100px;
  }
 </style>
    <h1>{{ section.description }}</h1>
 <!-- wrap -->
    <div class="wrap">
        {% for current in section.pages | sort(attribute="title") %}
        {# the following works only with zola-version >= 0.11.0 #}
        {% set image_path = [ current.path, "image.jpg"] | join | trim_start_matches(pat="/")%}  
            <div class="card">
                <img src="{{ resize_image(path=image_path, width=256, height=256) }}" class="card__thumbnail">
                <a href="{{ config.base_url }}/{{ current.path }}" class="card__text">
                    <h3 class="card__text__title">{{ current.title }}</h3>
                    <p class="card__text__description">{{ current.description }}</p>
                    {# loop through all the properties and plot position if available #}
                    {% for prop in current.extra.properties %}
			{% if prop.name | slugify == "standort" %}
                      	  <p class="card__text__description">{{ prop.entry | title }}</p>
                        {% endif %}
                    {% endfor %}
                </a>

            </div>
        {% endfor %}
    </div>
{% endblock main %}

