{% import "_macros.html" as macros %}
{% extends "index.html" %}

{% block title %}{{ page.title }} | {{ super() }} {% endblock title %}

{% block header %}
  <header class="box-shadow">
      {{ macros::render_header() }}
  </header>
{% endblock header %}

{% block content %}
  {% if page.description %}
    <div class="heading-text">{{ page.description }}</div>
  {% endif %}
  {{ page.content | safe }}
{% endblock content %}
