{% extends "page.html" %}

{% import "_macros.html" as macros %}

{% block hero %}
{% endblock hero %}
{% block toc %}{% endblock toc %}

{% block main %}
  <style>
    main {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
  {# the following works only with zola-version >= 0.11.0 #}
  {% set image_path = [ current_path, "image.jpg" ] | join | trim_start_matches(pat="/")%}
  <div style="max-width: 900px" >
  <section class="fold">
    <img src="{{ resize_image(path=image_path, width=500, height=400) }}">
       <div class="content" style="width: 320px">
      <h1>{{ page.title }}</h1>

      {# the following section renders the bike properties,
         which are written down in the beginning of each bikes
         article. The ugly thing is, that all the properties have
         to be written down here explicitly before using them. #}
      {% if page.extra.type %}
        <p>Bautyp: {{ page.extra.type }}</p>
      {% endif %}
      {% if page.extra.load %}
        Zuladung: {{ page.extra.load }}
      {% endif %}
      {% if page.extra.position %}
        <p> Standort: {{ page.extra.position }}</p>
      {% endif %}
      {% if page.extra.details %}
        <p> Details: {{ page.extra.details }}</p>
      {% endif %}
      {% if page.extra.mail %}
        <p> Email: {{ page.extra.mail }}</p>
      {% endif %}

      {# a more elegant way of querying all the properties #}
      {% if page.extra.properties %}
        {% for item in page.extra.properties %}
         <p> <b>{{ item.name | capitalize }}:</b> {{ item.entry }} </p>
        {% endfor %}
      {% endif %}
      </div>
  </section>
<hr/>
<div class="content">
{% block content %}
    {{ page.content | safe }}
{% endblock content %}
</div>
</div>
{% endblock main %}
