.text-center {
  text-align: center;
}

.pos-absolute {
  right: 0;
  left: 0;
  position: absolute;
}

.box-shadow {
  box-shadow: 0 2px 10px 2px #ddd;
  position: relative;
  z-index: 1001;
}

.fold {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  img {
  max-width: 100%;
  }
}
